*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  body{
     background-color: #f3f5f9;
  }
  
  .wrapper{
    display: flex;
    position: relative;
  }
  
  .wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #dee2e1;
    padding: 30px 0px;
    position: fixed;
  }
  
  .wrapper .sidebar h2{
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #000;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .wrapper .sidebar ul li a{
    color: #000;
    display: block;
  }
  
  .wrapper .sidebar ul li a .fas{
    width: 25px;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: #fff;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #000;
  }
   
  .wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .wrapper .sidebar .social_media a{
    display: block;
    width: 40px;
    background: #000;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .wrapper .main_content{
    width: 100%;
    margin-left: 200px;
  }
  
  .wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #1c1919;
    border-bottom: 1px solid #e0e4e8;
  }
  
  .wrapper .main_content .info{
    margin: 20px;
    color: #000;
    line-height: 25px;
  }
  
  .wrapper .main_content .info div{
    margin-bottom: 20px;
  }

  .about{
    background-color: #fff;
    width: 40%;
    padding-left: 2%;
    padding-top: 2%;
    border-radius: 10px;
    background-image: url(photodiv1.png);
    background-size: cover;
    float: left;
  }
  .rightcontainer{
    background-color: #fff;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    margin-left: 41%;
    padding-bottom: 1%;
}
.carousel {
  display:inline-flex;
  margin-left: 14%;
  margin-top: 1%;
  width: 70%;
  height: 500px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  float: left;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-image.active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
#add{
  font-size: 20px;
  padding: 1%;
  border-radius: 10px;
  background:#fff;
  margin-left: 35%;
}
#add:hover{
  border-radius: 20px;
  transition: 0.4s;
  font-size: 22px;
  margin-left: 34%;
}

form{
  margin-top: 1%;
  margin-left: 25%;
  margin-right: 37%;
  padding: 2%;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  font-size: larger;
}

#new{

opacity: 0;
overflow: hidden;
transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
#new.open {/* adjust this value based on your content height */
opacity: 1;
}
.textarea{
min-width: 200px;
min-height: 60px;
}
.submit{
font-size: large;
width: 25%;
height: 30px;
border-radius: 20px;
color: white;
background-color: black;
transition: 0.5s;
}
.submit:hover{
color: black;
background-color: white;
}

.updates{
  color: #000;
  padding-left: 3%;
  padding-top: 3%;
  margin-top: 45%;
}
.update2{
  color: #000;
  padding-top: 3%;
  background-color: #fff;
  border-radius: 10px;
}